.Card
{
    color: white;
    background: rgba(90, 103, 115, 1);
    border-radius: 10px;
    min-height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    padding-top: 10px;
    font-size: 0.8em;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;

    &.full
    {
        width: calc(100% - 20px)
    }
    &.half
    {
        width: calc(50% - 25px);
        &:first-child
        {
            margin-right: 5px;
        }
        &:last-child
        {
            margin-left: 5px;
        }
    }

    .title
    {
        color: rgba(141, 154, 166, 1);
        font-weight: bold;
        font-size: 0.8em;
        text-transform: uppercase;
        padding-bottom: 5px;
    }

    position: relative;

    .body
    {
        padding-top: 5px;
        position: absolute;
        top: 30px;
        bottom: 13px;
        left: 13px;
        right: 13px;

        h1
        {
            line-height: 20px;
            font-size: 2.5em;
            font-weight: lighter;
        }
        h3
        {
            padding-top: 5px;
        }
        p
        {
            position: absolute;
            font-size: 0.95em;
            bottom: 0;
            z-index: 10000;
        }
        .info
        {
            padding-top: 10px;
            display: block;
        }
        .bottomlink
        {
            width: 100%;
            padding-top: 5px;
            position: absolute;
            bottom: -5px;
            border-top: 1px solid rgba(141, 154, 166, 1);
            color: white;
            text-decoration: none;

            .icon
            {
                float: right;
                margin-top: 2px;
                color: rgba(155, 166, 177, 1)
            }
        }
        
    }
}
